src/ACMESkyNCC/myWsdl.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="mytest.test.com.wsdl" xmlns:xsd1="mytest.test.com.xsd" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="mytest.test.com.wsdl" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <wsdl:types>
    <xs:schema targetNamespace="mytest.test.com.xsd" xmlns:sch="mytest.test.com.xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema"><xs:element name="average"><xs:complexType><xs:sequence><xs:element maxOccurs="unbounded" minOccurs="1" name="values" type="xs:double"/></xs:sequence></xs:complexType></xs:element><xs:element name="averageResponse"><xs:complexType><xs:sequence><xs:element maxOccurs="1" minOccurs="1" name="result" type="xs:double"/></xs:sequence></xs:complexType></xs:element><xs:element name="sum"><xs:complexType><xs:sequence><xs:element maxOccurs="1" minOccurs="1" name="term2" type="xs:double"/><xs:element maxOccurs="1" minOccurs="1" name="term1" type="xs:double"/></xs:sequence></xs:complexType></xs:element><xs:element name="sumResponse"><xs:complexType><xs:sequence><xs:element maxOccurs="1" minOccurs="1" name="result" type="xs:double"/></xs:sequence></xs:complexType></xs:element><xs:element name="multiply"><xs:complexType><xs:sequence><xs:element maxOccurs="1" minOccurs="1" name="term2" type="xs:double"/><xs:element maxOccurs="1" minOccurs="1" name="term1" type="xs:double"/></xs:sequence></xs:complexType></xs:element><xs:element name="multiplyResponse"><xs:complexType><xs:sequence><xs:element maxOccurs="1" minOccurs="1" name="result" type="xs:double"/></xs:sequence></xs:complexType></xs:element></xs:schema>
  </wsdl:types>
  <wsdl:message name="number">
    <wsdl:part name="body" element="xsd1:multiplyResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="pair">
    <wsdl:part name="body" element="xsd1:multiply">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="numbers">
    <wsdl:part name="body" element="xsd1:average">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="MyInput">
    <wsdl:operation name="average">
      <wsdl:input message="tns:numbers">
    </wsdl:input>
      <wsdl:output message="tns:number">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="sum">
      <wsdl:input message="tns:pair">
    </wsdl:input>
      <wsdl:output message="tns:number">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="multiply">
      <wsdl:input message="tns:pair">
    </wsdl:input>
      <wsdl:output message="tns:number">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="MyInputSOAPBinding" type="tns:MyInput">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="average">
      <soap:operation soapAction="average" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="sum">
      <soap:operation soapAction="sum" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="multiply">
      <soap:operation soapAction="multiply" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="MyInputService">
    <wsdl:port name="MyInputServicePort" binding="tns:MyInputSOAPBinding">
      <soap:address location="http://localhost:8000"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
